<div class="container">
    <br>
    <div class="form-group card-header form-group">
        <label class="d-inline-block" for="queryId"><strong>Query Id: &nbsp; &nbsp;</strong></label>
        <select name="queryId" class="form-control form-control-sm d-inline-block" style="width: auto;" id="queryId"
            (change)="searchScreenToggle($event.target.value)">
            <option selected>Select</option>
            <option value="ssn">SSN</option>
            <option value="caseNumber">Case Number</option>
            <option value="name">Name</option>
        </select>
    </div>
    <br>
    <br>
    <div *ngIf="sections.length > 0" class="card card-body bg-light">
        <ng-template ngFor let-section [ngForOf]="sections">
            <h3>{{section.name}}</h3>
            <app-generic-form [fields]="section.fields" (formSubmitEvent)="onSubmit($event)"></app-generic-form>
        </ng-template>
    </div>
    <br>
    <br>
    <div [hidden]="!showGrid">
        <app-generic-grid #genericGrid></app-generic-grid>
    </div>
</div>