<form novalidate [formGroup]="myForm">
  <ng-template ngFor let-field [ngForOf]="fields">

    <div *ngIf="field.type == 'text'" class="form-group">
      <label [for]="field.name">{{field.title}}:</label>
      <input type="text" [id]="field.name" [placeholder]="field.default" class="form-control"
        [formControl]="myForm.get(field.name)" />
      <span class="error" style="color: red" *ngIf="field.invalid">{{field.errorMessage}}<br></span>
      <span class="error" style="color: orange" *ngIf="field.warn">{{field.warningMessage}}<br></span>
    </div>

    <div *ngIf="field.type == 'number'" class="form-group">
      <label [for]="field.name">{{field.title}}:</label>
      <input type="number" [id]="field.name" class="form-control" [formControl]="myForm.get(field.name)" />
      <span class="error" style="color: red" *ngIf="field.invalid">{{field.errorMessage}}<br></span>
    </div>

    <div *ngIf="field.type == 'checkbox'" class="custom-control custom-checkbox">
      <input type="checkbox" [id]="field.name" class="custom-control-input" [formControl]="myForm.get(field.name)" />
      <label [for]="field.name" class="custom-control-label">{{field.title}}</label>
      <br>
      <span class="error" style="color: red" *ngIf="field.invalid">{{field.errorMessage}}<br></span>
    </div>

    <div *ngIf="field.type == 'select'" class="form-group">
      <label for="exampleFormControlSelect1">{{field.title}}</label>
      <select class="form-control" [formControl]="myForm.get(field.name)">
        <option *ngFor="let lookup of field.lookups" [value]="lookup.key" [selected]="lookup.selected">
          {{lookup.value}}
        </option>
      </select>
      <span class="error" style="color: red" *ngIf="field.invalid">{{field.errorMessage}}<br></span>
    </div>

    <div *ngIf="field.type == 'radio'" class="form-group">
      <label for="radioButton">{{field.title}}</label>
      <div *ngFor="let radioButton of field.radioButtons" [formControl]="myForm.get(field.name)" ngDefaultControl>
        <label for="{{radioButton}}">
          <input id="{{radioButton}}" [value]="radioButton" type="radio" name="radioButton">
          <!-- [checked]="radioButton === 'Male'">  -->
          {{radioButton}}
        </label>
      </div>
      <span class="error" style="color: red" *ngIf="field.invalid">{{field.errorMessage}}<br></span>
    </div>
  </ng-template>
  <!-- <div *ngIf="field.type == 'button'" class="form-group"> -->
  <button type="button" class="btn btn-primary" [disabled]="!myForm.valid" (click)="onSubmit()">Submit</button>
  <!-- </div> -->
</form>
<br />
<div class="alert alert-danger" *ngIf="errors?.length > 0" role="alert">
  <h4 class="alert-heading">Please fix the following errors:</h4>
  <hr>
  <ul>
    <li *ngFor="let error of errors">{{error}}</li>
  </ul>
</div>
<hr>